# ===============================
# Config local (sensível)
# ===============================
src/main/resources/application-local.yaml
application-local.yaml

# ===============================
# Build (Maven/Gradle)
# ===============================
target/
build/
.gradle/
out/
*.class

# ===============================
# Artefatos
# ===============================
*.jar
*.war

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Linux / temporarios
# ===============================
*~
*.swp
*.swo
.cache/
